* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html,
body {
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: unset;
}

@import "./breakpoints";
@import "./card";
